.prev, .next {
    width: 0;
	height: 0; 
    position: absolute;
    bottom: 5vh;
    cursor: pointer;
    // Reset appearance of button element
    background: transparent;
    padding: 0;
    -webkit-appearance: none;
    margin: 0;
    border: none;
}
.prev {
	border-top: 3.5vh solid transparent;
	border-bottom: 3.5vh solid transparent;
	border-right: 10px solid lightgray; 
	left: 10px;
}

.next {
	border-top: 3.5vh solid transparent;
	border-bottom: 3.5vh solid transparent;
	border-left: 10px solid lightgray;
	right: 10px;
}

.progress-bar {
    position: fixed;
    height: 5px;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: gray;
}